.dashboard {
  min-height: 100%;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  background-repeat: no-repeat;
	
	&__header {
		padding: 10px 20px;
		display: flex;
		justify-content: space-between;
	}

	&__username {
		font-size: 40px;
		font-weight: 500;
		color: #ffcc70;
	}

  &__buttons-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    margin: 10px;
    padding: 6px 20px;
    border: 0;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    background: hsla(0, 0%, 100%, 0.55);
    backdrop-filter: blur(30px);
    transition: background 200ms ease;

    img {
      transform: translateY(-2px);
    }

    &:hover {
      background: hsla(0, 0%, 100%, 0.85);
    }
  }

  &__wrapper {
    margin: 1vh;
  }

  &__card {
    position: relative;
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    border-radius: 20px;
    min-height: 250px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  }

  &__fave {
    position: absolute;
    top: 15px;
    right: 16px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    background-image: url("../img/heart-empty.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: background-image 150ms ease-in, transform 500ms ease;

    &_true {
      background-image: url("../img/heart-fill.svg");
    }

    &_false {
      background-image: url("../img/heart-empty.svg");
    }

    &:hover {
      background-image: url("../img/heart-fill.svg");
    }

    &:active {
      transform: scale(1.2);
    }
  }

  &__delete {
    position: absolute;
    bottom: 15px;
    right: 16px;
    width: 30px;
    height: 30px;
    opacity: 1;
    border: none;
    background-color: transparent;
    background: url("../img/trash.svg") 0 0/100% 100% no-repeat;
    transition: all 150ms ease-in;

    &:active {
      background-image: url("../img/trash3-fill.svg");
    }
  }
}

@media (min-width: 768px) {
  .dashboard {
    &__wrapper {
      margin: 10vh;
    }

    &__card {
      &:hover {
        .dashboard__delete {
          opacity: 1;
        }
      }
    }

    &__delete {
      opacity: 0;
    }
  }
}
